html,
body {
	margin: 0;
	font-family: 'Inconsolata', monospace;
}

body {
	background: var(--bg-main);

	--fg-main: #000;
	--fg-light: #6b70a4;
	--bg-main: #f8f8f8;
	--bg-light: #d5d6e0;
}

input,
textarea,
code {
	font-size: 1em;
	font-family: 'Inconsolata', monospace;
}

label {
	cursor: pointer;
	margin-right: 2ch;
}

#app {
	height: 100vh;
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

header,
main {
	max-width: 1080px;
	width: calc(100% - 32px);
	margin: 0 auto;
}

header {
	height: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-grow: 0;
	flex-shrink: 0;
	gap: 2ch;
}

nav a {
	color: var(--fg-light);
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

main {
	height: 0;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	margin: 8px auto;
}

.prog-input,
.controls,
.visualizations {
	width: 100%;
}

.prog-input textarea {
	width: 100%;
	resize: vertical;
	min-height: 6em;
	margin-bottom: 8px;
	background: var(--bg-light);
	border: 0;
	border-radius: 6px;
	padding: 8px 12px;
	tab-size: 4;
}

.prog-input textarea:focus {
	outline: 1px solid var(--fg-light);
}

.controls {
	margin-bottom: 8px;
}

.visualizations {
	display: flex;
	flex-direction: row;
	gap: 16px;
	height: 0;
	flex-grow: 1;
}

.vis-tokens,
.vis-tree {
	padding-top: 4px;
	overflow: auto;
	width: 0;
	flex-grow: 1;
}

.vis-tokens::before,
.vis-tree::before {
	color: var(--fg-light);
}

.vis-tokens::before {
	content: 'Token stream';
}

.vis-tree::before {
	content: 'Syntax tree';
}

